.workouts {
    padding-bottom: 1rem;

    &__hero {
        display: flex;
        position: relative;
        align-items: center;
        padding: 7rem 0;
        min-height: 15vh;
        height: 360px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 100%;

        &:after {
            @media (max-width: $max-lg) {
                content: '';
                position: absolute;
                background-color: rgba(0,0,0,0.6);
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                display: block;
            }
        }

        .workouts__container {
            z-index: 1;
        }

        &__title {
            display: inline-block;
            color: $white;
            font-size: 2.5rem;
            font-weight: 700;
            margin-bottom: 1rem;
            letter-spacing: 0.42px;
            line-height: 2.5rem;
        }
        &__text {
            display: block;
            font-size: 1.75rem;
            color: $white;
            margin-bottom: 1.5rem;

            &--small {
                color: $white;
                font-size: 1rem;
                font-weight: 300;
                letter-spacing: 0.16px;
                margin-bottom: 1.5rem;
                width: 100%;
                line-height: 1.5;

                @media (min-width: $min-sm) {
                    width: 80%;
                }

                @media (min-width: $min-lg) {
                    width: 30%;
                }
            }
        }

        &__button {
            display: inline-block;
            text-align: center;
            appearance: none;
            -webkit-appearance: none;
            -moz-appearance: none;
            padding: .45rem 1.5rem;
            margin-right: .75rem;
            outline: none;
            border: 3px solid $blue;
            -webkit-border-radius: 212px;
            -moz-border-radius: 212px;
            border-radius: 212px;
            cursor: pointer;
            font-weight: 600;
            background: $blue;
            text-decoration: none;
            color: $white;
            &--block {
                margin: 1rem 0;
                display: block;
            }
            &--right {
                float: right;
            }
            &--white {
                background: white;
                border: 2px solid $blue;
                color: $blue;
            }
        }
    }

    &__container {
        position: relative;
        @include content-wrapper;

        &__items {
            $item-spacing: 0.75rem;

            display: flex;
            flex-direction: column;
            margin-right: -$item-spacing;
            margin-left: -$item-spacing;

            @media (min-width: $min-sm) {
                flex-direction: row;
                flex-wrap: wrap;
            }

            &__button {
                margin-top: 1rem;
                min-width: 136px;
                background: url(../../../../public/images/icons/add-24px.svg) no-repeat;
                float: right;
                color: $blue;
                padding: 5px 5px 5px 12.5px;
                border-radius: 5px;
                border: 2px solid $blue;
                cursor: pointer;
            }
            &__title {
                color: #343434;
                font-size: 1.75rem;
                padding-top: 2rem;
                font-weight: 700;
                @media screen and (max-width: 475px) {
                    font-size: 1.5rem;
                }
                &--left {
                    margin-left: 0;
                }
            }
            &__subtitle {
                color: #555555;
                width: 50%;
                // font-weight: lighter;
                line-height: 1.6;
                padding-bottom: 1.5rem;
                margin-left: 1rem;

            }

            &__item-col {
                width: 100%;
                margin-bottom: calc(#{$item-spacing} * 2);
                padding: 0 $item-spacing;

                @media (min-width: $min-sm) {
                    width: calc(100% / 2);
                }

                @media (min-width: $min-lg) {
                    width: calc(100% / 4);
                }

                .card-link {
                    @include interactive-card;
                }
            }

            &__item {
                display: inline-flex;
                text-decoration: none;
                position: relative;
                margin: 0 .75rem .75rem 0;
                min-width: 390px;
                min-height: 220px;
                background-repeat: no-repeat;
                background-position: center;
                background-size: stretch;
                box-shadow: 0px 3px 6px #00000029;
                @media screen and (max-width: 370px) {
                    min-width: 90%;
                }
                @media screen and (max-width: 450px) {
                    min-width: 90%;
                }
                .overlay {
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: 3;
                    width: 100%;
                    height: 100%;
                    color: #FFF;
                    background: rgb(5,5,6);
                    background: linear-gradient(180deg, rgba(5,5,6,0.15870098039215685) 0%, rgba(0,0,0,0.1699054621848739) 50%, rgba(0,0,0,0.9318102240896359) 100%);
                }
                &__text-container {
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    padding: 1rem;
                    justify-content: space-between;
                    align-items: flex-end;
                    height: 85%;
                }
                &__price-container {
                    display: flex;
                    padding: .65rem .65rem 0 0;
                    &__price {
                        height: 10%;
                        background: white;
                        border-radius: 15px;
                        color: $blue;
                        padding: .25rem 1rem;
                        border: none;
                        font-size: .75rem;
                    }
                    &__free {
                        background: #92D246;
                        color: white;
                    }
                }
                &__text {
                    color: $white;
                    font-size: 1.5rem;
                    font-weight: 500;
                    // margin-top: 140px;
                    // margin-bottom: 5px;
                    // margin-left: 5%;
                    &--small {
                        color: $white;
                        font-size: .85rem;
                        font-weight: 300;
                        letter-spacing: 0.46px;
                        // width: 80%;
                    }
                    &--blue {
                        // float: right;
                        // padding-right: 1rem;
                        text-decoration: none;
                        color: $blue;
                        font-weight: 600;
                        font-size: .85rem;
                    }
                    &--left {
                        // float: left;
                        // padding-left: 1.25rem;
                        text-decoration: none;
                        color: $white;
                        font-size: .85rem;
                    }
                }
                &__title {
                    color: $white;
                    font-size: 1.5rem;
                    font-weight: 500;
                    margin-top: 180px;
                    margin-bottom: 5px;
                    margin-left: 5%;
                    &--small {
                        color: $white;
                        font-size: .85rem;
                        font-weight: 300;
                        letter-spacing: 0.46px;
                        margin-left: 5%;
                        width: 80%;
                    }
                }
            }

            &__class-item {
                display: inline-flex;
                position: relative;
                margin: 0 .75rem .75rem 0;
                min-width: 390px;
                min-height: 220px;
                background-repeat: no-repeat;
                background-position: center;
                > div {
                    padding: .75rem;
                }
                > a {
                    font-size:24px;
                    color: red;
                    margin-left: auto;
                    align-self: flex-end;
                    padding: 1.25rem;
                    cursor: pointer;
                    text-decoration: none;
                }
                &__text {
                    color: $white;
                    font-size: 1.5rem;
                    font-weight: 500;
                    &--small {
                        color: $white;
                        font-size: 1rem;
                        font-weight: 300;
                        letter-spacing: 0.16px;
                        margin: .5rem 0;
                        &:last-of-type {
                            margin: 0 0 .5rem 0;
                        }
                    }
                }
            }
        }
    }
}

.navigation + .create {
    margin-top: 0;
}

.create {
    margin: 3.75rem auto 0;
    padding-bottom: 8rem;
}