.reporting-filters {
    $gap: 1rem;

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 1.5rem;

        .page__title {
            margin: 0;
        }

        .button {
            @media (min-width: $min-md) {
                display: none;
            }
        }
    }

    &__filters {
        padding-bottom: 3rem;

        // Hide on mobile
        @media (max-width: $max-md) {
            display: none;

            &--show {
                display: flex;
                flex-direction: column;
            }
        }

        @media (min-width: $min-md) {
            display: grid;
            gap: $gap;
            align-items: center;
            grid-template-areas: 'location location units units'
                'dates compareText compareText compare';
        }

        @media (min-width: 1350px) {
            grid-template-columns: .5fr .5fr 1fr auto 1fr;
            grid-template-areas: 'location units dates compareText compare';
        }
    }

    &__filter {
        @media (min-width: $min-md) {
            padding-bottom: 0;
        }

        &--location {
            grid-area: location;

            &.form-element {
                .form-element__control {
                    border: 0;
                }

                .multiselect__tags,
                .multiselect__content-wrapper {
                    border-color: $material-grey-400;
                }

                .multiselect__input {
                    padding: 0;
                    background-color: transparent;
                }

                .multiselect__option {
                    display: flex;
                    align-items: center;
                    background-color: transparent;
                    color: initial;

                    .material-icons {
                        margin-right: .5rem;
                    }
                }

                .multiselect__placeholder {
                    color: #343434;
                    padding-left: .5rem;
                }
            }
        }

        &--units {
            grid-area: units;
        }

        .form-element__control {
            border: 1px solid $material-grey-400;
            border-radius: 5px;

            &,
            > input,
            > select,
            .form-element__control__input {
                background-color: transparent;
            }
        }
    }

    &__filter-section {
        display: grid;
        
        @media (min-width: $min-sm) {
            gap: $gap;
            grid-template-columns: 1fr 1fr;
        }

        &--dates {
            grid-area: dates;
        }

        &--comparison {
            grid-area: compare;

            .reporting-filters__filter:last-of-type {
                @media (min-width: $min-md) and (max-width: $max-xxxl) {
                    .vc-container {
                        left: initial;
                        right: 0;
                    }
                }
            }
        }
    }

    &__compare-text {
        grid-area: compareText;
        font-size: .85rem;
        text-align: center;
        padding-bottom: 1rem;
        font-weight: 600;

        @media (min-width: $min-md) {
            padding: 2rem 0 0;
        }
    }
}