.tab {
    display: flex;
    border-bottom: 1px solid #eee;

    margin: 0;

    // match page content padding
    @media (min-width: $min-sm) {
        margin: .5rem 2rem 0;
    }

    &--top {
        margin-top: 2.5rem;
    }

    &--no-top {
        margin-top: 0;
    }

    &--none {
        margin: 0;
    }

    &--no-bottom {
        + .page-content {
            margin-top: 0;
        }

        + section .list th {
            border-top: 0;
        }
    }

    &--sides {
        ul {
            @media (min-width: $min-md) {
                padding: 0 2rem;
            }
        }
    }

    &--bottom {
        margin-bottom: 2.5rem;

        &-small {
            margin-bottom: 1.25rem;
        }
    }

    ul {
        overflow-x: auto;
        display: flex;
        flex-wrap: wrap;

        li {
            text-align: center;
            min-width: 120px;
            border-bottom: 2px solid $white;
            display: flex;
            align-items: center;
            justify-content: center;

            @media (max-width: $max-sm) {
                font-size: 0.9rem;
                height: 55px;
            }

            a,
            .tab__link {
                padding: 1rem;
                color: $material-grey-700;
                text-decoration: none;
                cursor: pointer;

                @media (max-width: $max-sm) {
                    padding: 0.5rem 1rem;
                }
            }

            &.active {
                border-bottom: 2px solid $primary;

                a,
                .tab__link {
                    // font-weight: 600;
                    color: #222;
                }
            }
        }
    }
}

.tabs {
    display: inline-block;
    width: 100%;
    margin-bottom: 3rem;

    &--no-bottom {
        margin-bottom: 0;
    }

    &--small-bottom {
        margin-bottom: 1.5rem;
    }

    &--top {
        margin-top: 3rem;
    }

    li {
        float: left;
        color: #444;
        opacity: .5;
        margin-right: 2.5rem;
        cursor: pointer;
        font-weight: 600;
        font-size: .9rem;

        a {
            color: $grey;

            &.view-all {
                color: $pink!important;
                font-size: .75rem;
            }
        }

        &.active {
            color: $purple;
            opacity: 1;
            position: relative;

            a {
                color: $purple;
            }

            &::after {
                position: absolute;
                content: '';
                top: calc(100% + 10px);
                left: 0;
                height: 2px;
                width: 25px;
                background: #778EDB;
                border-radius: 2px;
            }
        }
    }
}
